.footer {
  position: relative;
}

.twitter, .instagram, .website {
  width: 5%;
  position: absolute;
  top: 45%;
}

.twitter {
  left: 70%;
}

.instagram {
  left: 80%;
}

.website {
  left: 90%;
}
