.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: space-around;
  align-items: center;
}

.twitter, .instagram, .website {
  width: 5%;
  position: absolute;
  top: 45%;
}

.twitter {
  left: 70%;
}

.instagram {
  left: 80%;
}

.website {
  left: 90%;
}
