.container {
  margin: auto;
  max-width: 1300px;
  font-family: "EB Garamond", serif;
}

body {
  margin: 0; /* Remove body margins */
  /* min-height: 100vh; */
  background-color: #FFFEFB;

  text-align: center;

  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-left: 10px;
  padding-right: 10px;
}

header{ 
  min-height:50px;
}

footer {
  clear: both;
  position: relative;
  margin-bottom: 0px;
}