.plant-image {
  width: 300px;
  height: 300px;
}

.plant-label {
  font-size: 23px;
  line-height: 23px;
  text-align: 'center';
  padding-bottom: 30px;
}

.modal-main {
  /* background: #d85e5e; */
  /* max-width: 90%;
  max-height: 90%; */
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 90%;
  height: 90%;
}

.modal-plant-image {
  object-fit: contain;
}

.display-block, .display-none {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.display-block {
  display: flex;
  align-items: center;
  object-fit: contain;
}

.display-none {
  display: none;
}
